<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34963714637-c0i5ejcqofe8nfjlourc0nhjcg067v5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34963714637-c0i5ejcqofe8nfjlourc0nhjcg067v5o</string>
	<key>API_KEY</key>
	<string>AIzaSyC_oHT9dpDnIf0NmGbf-LI7aafllPOozQo</string>
	<key>GCM_SENDER_ID</key>
	<string>34963714637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactapp</string>
	<key>PROJECT_ID</key>
	<string>contactapp-578cb</string>
	<key>STORAGE_BUCKET</key>
	<string>contactapp-578cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34963714637:ios:a24a015eb812faecde2204</string>
</dict>
</plist>